.ui.page.grid {
  padding-left: 150px;
  padding-right: 150px;
}

/*MOBILE CSS*/

@media (max-width: 480px ) {
  .ui.page.grid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
  .ui.page.grid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
