.ui.page.grid {
  margin: 0 12%;
}

/*MOBILE CSS*/

@media (max-width: 480px ) {
  .ui.page.grid {
    margin: 0 2%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 767px) {
  .ui.page.grid {
    margin: 0 2%;
  }
}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
}
