.header {
  background: #fff !important;
  border-bottom: 1px solid #12B883 !important;
}

.header h2 {
  padding-bottom: 0px !important;
  font-family: "Georgia", sans-serif;
}
.content.modal-body {
  text-align: left;
  font-size: 1.2em !important;
}


.modal-form {
  font-size: 1.2em;
  padding-top: 20px;
}
.modal-form input.email {
  width: 100%;
  padding: 8px 8px;
  margin: 0 4% 10px 0;
}
.ui.modal .actions {
  background: none;
  border-top: none;
  text-align: center;
  padding-left: 0px;
}

.ui.modal .actions > .button{
  margin-left: 0px;
}
.ui.button {
  background: none;
}
.ui.positive.right.labeled {
  background-color: #12B883;
  color: #fff !important;
  border-radius: 0px !important;
  border: none;
  padding: 10px;
  margin: none;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}

.ui.positive.right.labeled:hover {
  background-color: rgba(18, 184, 131, 0.83);
}
.ui.modal .actions {
  padding: 0em;
}

.ui.button {
  width: 100%;
  padding: 0em;
}
.ui.button.custom:hover {
  background-color: #fff !important;
}

.ui.black.button {
  background-color: #ADAEAF;
  padding: 10px 0px;
  margin-top: 24px;
  width: 40%;
  float:right;
  border-radius: 0px;
  font-weight: normal;
  font-family: 'Inconsolata', arial, serif;
}

.ui.black.button:hover {
  background-color: #ADAEAF;
}
