<template name="writing">
    <div class="writing view animated fadeIn">
        <section class="intro segment">
            <h2 class="ui header">Writing</h2>
            <p>I write about the intersection of psychology & technology, lifestyle design and leadership. My work has been featured in numerous
              publications and translated into multiple languages.</p>
        </section>
        <section class="main-content">
            <div class="articles module">
                <h3 class="ui header">Recent Articles</h3>
                {{> posts}}
            </div>
            <!--<div class="book-preview module">-->
                <!--<h3 class="ui header">Books</h3>-->
                    <!--<div class="row">-->
                        <!--<div class="six wide centered column">-->
                            <!--<img src="http://placehold.it/300x100" />-->
                        <!--</div>-->
                        <!--<div class="twelve wide column">-->
                            <!--<h4 class="ui header"><a href="{{pathFor 'psych-driven-ux'}}"> Psychology-Driven UX </a></h4>-->
                            <!--<p>Design experiences that engage the modern software user.</p>-->
                        <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="newsletter module">
                <h3 class="ui header">Product Psychology Newsletter</h3>
                <p>Every Sunday, I send out a newsletter on Psychology and Design. It includes articles, tools and interesting people within the
                    design space that I've stumbled upon during the week.</p>
                <p>It's free and has been popular amongst designers, marketers and marketers.</p>
                {{> MailChimpListSubscribe}}
            </div>
        </section>
    </div>
</template>
