.ui.grid.stackable {
}

.sixteen.wide.column.subhead {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.card {
  display: inline-block;
  padding: 10px;
}

.content {
  text-align: center;
}

.row.center.subhead h3 {
  text-align: center;
}

h2.ui.center.aligned.header.title {
  font-size: 2rem;
}

.sixteen.wide.column.description {
  margin-top: 0px;
}

.method-title {
  font-size: 1.2em;
}

.ui.grid > .row.phase {
  padding-bottom: 40px;
}

.ui.grid > .row.phase hr {
  border-color: rgba(255, 255, 255, 0.35);
}

.icon img {
  padding-top: 24px;
}

/*ui message*/
.ui.message {
  background: #DCFFF4;
}

/*MOBILE CSS*/

@media (max-width: 480px ) {

/*case studies*/

.content p {
  font-size: 1em;
}

}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

}
