<template name="layout">
    <div class="ui page padded grid animated fadeIn">
      <header class="header">
        {{> lightswitch}}
        {{> header}}
      </header>
        <div class="yield animated fadeIn">
          <div class="main twelve wide column">
            {{> topNav}}
            {{> yield}}
            {{> mobileMenu}}
            {{> modal}}
          </div>
          <div class="sidebar four wide column">
          {{> sidebar}}
          </div>
        </div>
      <footer class="footer">
        {{> footer}}
      </footer>
  </div>
</template>
