@import '../../variables';

.dark-theme {
  background: $gray-dark;
  color: $light;

  a, a:visited {
    color: $blue-alt;
  }

  .ui.header {
    color: $light;
  }

  footer {
    .endmatter {
        color: $gray-lighter;
    }
  }
}
