@import '../../variables';

.dark-theme {
  background: $gray-dark;
  color: $light;

  a, a:visited {
    color: $blue;
  }

  .ui.header {
    color: $light;
  }

  footer {
    p {
      color: $gray-light;
    }
  }
}
