@import '../../variables';

footer {

  .ui.grid.contact {
    margin-top: $space-medium;
    margin-left: 0;

    .endmatter {
      padding: $space-base 0 !important;

      @media (min-width: $desktop-width) {
        padding-left: 2rem !important;
      }
        p {
          line-height: $space-medium;
        }
    }

    .social {
        i {
          display: block;
          text-align: right;
          font-size: $font-size-huge;
          padding: $space-tiny 0;
          color: $blue;
        }
        i:hover {
          color: $red;
        }

        @media (min-width: $desktop-width) {
          padding-top: 0 !important;

          i {
            display: inline-block;
            margin-right: $space-medium;
          }
        }
     }
  }
}
