@import '../../variables';

.footer {

  .contact {
    padding-top: $space-large;

    .endmatter {
      padding-top: $space-large;
        p {
          font-size: $font-size-base + $font-size-atomic;
        }
    }

    .social {
        i {
          display: block;
          text-align: right;
          font-size: $font-size-huge;
          padding: $space-tiny 0;
          color: $gray;
        }
     }
  }
}

.stackable.ui.grid.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: .8em;
}

.footer-rule {
  border-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
}

.endmatter p {
  color: #BFBFBF;
  font-size: .85em;
  line-height: 1.5em;
}
