@import '../../variables';

footer {

  .contact {
    padding-top: $space-large;
    margin-top: $space-medium;
    padding: 0 !important;

    .endmatter {
      padding: $space-base 0 !important;
        p {
          line-height: $space-medium;
        }
    }

    .social {
        i {
          display: block;
          text-align: right;
          font-size: $font-size-huge;
          padding: $space-tiny 0;
          color: $blue;
        }
        i:hover {
          color: $red;
        }
     }
  }
}
