.stackable.ui.grid.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: .8em;
}

.footer-rule {
  border-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
}

.endmatter p {
  color: #BFBFBF;
  font-size: .85em;
  line-height: 1.5em;
}

.copyright {
  padding-top: 40px;
}

#mc_embed_signup form {
  padding: 0px !important;
}

#mc_embed_signup input.email {
   font-family: Georgia, sans-serif !important;
   width: 80% !important;
}

#mc_embed_signup .button {
  font-family: 'Roboto Mono', arial, serif !important;
  background-color: #12b883 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-weight: normal !important;
  width: 80% !important;
}

#mc_embed_signup .button:hover {
  background-color: rgba(18, 184, 131, 0.83) !important;
}
