@import '../../variables';

.header {

  @media(max-width: $desktop-width) {
    padding: $space-large 0;
  }

    .ui.header {
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 0;

        @media (min-width: $desktop-width) {
          display: none;
        }
      }

  .nav {
    text-align: left;

    a {
      text-align: center;
      font-size: $font-size-medium + $font-size-atomic;
      text-transform: none;
      border-bottom: none;
      font-weight: bold;
      display: inline-block;
      font-family: $font-family-sans-serif, serif;
      letter-spacing: $space-quantum;
      text-shadow: 0px 1px 1px rgba(21, 50, 107, 0.1);

      @media (min-width: $tablet-width) {
        font-size: $font-size-large + $font-size-mini;
      }
    }

    small {
      font-size: $font-size-base + $font-size-atomic;
      display: block;
      font-family: $font-family-serif, serif;
      line-height: $space-tiny + $space-mini;

      @media (min-width: $tablet-width) {
        font-size: $font-size-medium;
        line-height: $space-medium;
      }
    }

   .menu-button {
     color: $blue;
      float: right;
      font-size: $font-size-base + $font-size-tiny;

      @media (min-width: $desktop-width) {
        display: none;
      }

    }
    .menu-button:hover {
      color: $red;
    }
  }

  nav {
    text-align: center;
    padding: $space-base;

    li {
      display: inline;
      font-family: $font-family-monospace;
      padding: $space-base;
      font-size: $font-size-medium;
      text-align: center;
    }

    @media screen and (max-width: $tablet-width) {
      display: none;
    }

  }
}
