
nav {
  margin-top: 60px;
  padding-bottom: 40px;
}

nav ul {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

nav li {
  display: inline;
  font-family: "Consolas", sans-serif;
}

nav a {
  margin: 5px;
}

nav .logo {
  margin-bottom: 20px;
}

nav .logo a {
  color: #12b883;
  margin-bottom: 100px;
  text-align: center;
  font-size: 2.0rem !important;
  text-transform: none;
  border-bottom: none;
  margin-bottom: 20px;
  font-weight: bold;
  display: inline-block;
  font-family: "Georgia", sans-serif;
}

nav .logo a:hover {
  color: rgba(18, 184, 131, 0.83);
}


/*MOBILE CSS*/

@media (max-width: 480px ) {
  /*ul.nav {
    display: none;
  }*/
  nav {
    padding-bottom: 0px;
  }
  nav .logo a {
    display: block;
  }
  nav a {
    font-size: 2rem;
    line-height: 3.2rem;
  }
  .logo li {
    font-size: 1.4rem;
  }
}


@media (max-width: 767px ) {
  /*ul.nav {
    display: none;
  }*/
  nav .logo a {
    display: block;
  }
  h2.quote {
    font-size: 1.4rem;
  }
}
