@import '../../variables';

.lightswitch {
  font-family: $font-family-sans-serif;



  div {
    padding: 1rem;
    box-shadow: $space-atomic $space-micro 0 $red;
    border: $space-atomic solid $red;
    color: $red;

    span {
      font-size: $font-size-medium - $font-size-micro;
      padding-left: $space-tiny;
    }

    i {
      font-size: $font-size-base + $font-size-mini;
    }
  }
}
