@import '../../variables';

.lightswitch {
  font-family: $font-family-sans-serif;


  .theme-toggle {
    cursor: hand;
    padding: 1rem;
    background: lighten($gray-lighter, 10%);
    color: $blue-alt;
    border-radius: $space-mini;
    transition: all 0.3s;

    &:hover {
      color: $blue-alt;
      background: $light;
      cursor: hand;
      cursor: pointer;
    }

    span {
      font-size: $font-size-medium - $font-size-micro;
      padding-left: $space-tiny;
    }

    i {
      font-size: $font-size-base + $font-size-mini;
    }
  }
}
