@import '../../variables';

.light-theme {
  background: $light;
  color: $gray-dark;

  a, a:visited {
    color: $blue;
  }

  .ui.header {
    color: $gray-dark;
  }

  footer {
    p {
      color: $gray;
    }
  }
}
