@import '../../variables';

.lightswitch {
  font-family: $font-family-sans-serif;

  .theme-toggle {
    cursor: hand;
    border-radius: $space-mini;
    transition: all 0.3s;

    button {
      margin: 0px;
    }

    @media (max-width: $tablet-width) {

    }

    @media (max-width: $desktop-width) {
    }

    span {
      font-size: $font-size-medium - $font-size-micro;
      padding-left: $space-tiny;
    }

    i {
      font-size: $font-size-large;
      box-shadow: $space-atomic $space-atomic $space-atomic $gray;
      padding: $space-base;
      color: $gray-dark;
      border: $space-atomic solid $gray-light;
      transition: .3s;
      position: absolute;
      margin-right: 5%;
      right: 0px;
      background-color: $yellow;

      @media (max-width: $desktop-width) {
        // left: 0px;
        // margin-left: 110px;
        // margin-right: 0;
        // right: inherit;
        // border: none;
        // box-shadow: none;
        // top: $space-medium;
        display: none;
      }

    }
    i:hover {
      color: darken($light-theme-primary, 10%);
      box-shadow: $space-atomic $space-atomic $space-small $gray;
    }

  }

}
