@import '../../variables';

#loader-wrapper .loader-section {
    position: fixed;
    top: 120px;
    width: 710px;
    height: 1000px;
    z-index: 1000;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}
