@import '../../variables';

.module.mailchimp {
  margin: 0 auto $space-small;
  padding: 0;

  .subscribe.form {
    margin: auto;

    .mailchimp-message {
      font-style: italic;
    }

    .inline.field {

      display: flex;
      margin: auto;
      padding: $space-base 0;

      input {
        padding: $space-medium;
        font-size: $font-size-medium;
      }

      @media (max-width: $tablet-width) {
        display: block;
      }

      .mailchimp-email {
        color: $dark;
        flex: 1;
        border-right: 0;
        border-radius: 0;
        outline: 0;
        box-shadow: inset $space-quantum $space-quantum $space-micro $gray;


        @media (max-width: $tablet-width) {
          display: block;
          width: 100%;
          border: $space-atomic solid $gray;
          margin-bottom: $space-base;
          text-align: center;
        }

      }

      .mailchimp-subscribe.button {
        margin: 0;
        cursor: pointer;

        font-size: $font-size-base + $font-size-atomic;
        font-weight: bold;

        @media (max-width: $tablet-width) {
          display: block;
          width: 100%;
          border: $space-atomic solid $gray;
        }

        @media(min-width: $tablet-width) {
          width: 40%;
        }

        &:hover,
        &:focus {
          background-color: $gray;
          color: $light;
        }
      }
    }
  }
}
