@import '../../variables';

.module.mailchimp {
  margin: 0 auto $space-small;
  padding: $space-huge $space-small + $space-tiny $space-base;

  .subscribe.form {
    margin: auto;

    .mailchimp-message {
      bottom: $space-jumbo;
      font-size: $font-size-base;
      display: none;
    }

    .inline.field {
      display: flex;
      margin: auto;
      padding: $space-small 0;

      .mailchimp-email {
        flex: 1;
        padding: $space-small;
        border: $space-micro solid $dark;
        border-right: 0;
        border-radius: 0;
        outline: 0;
        font-size: $font-size-base;
        font-family: $font-family-monospace;
      }

      .mailchimp-subscribe.button {
        margin: 0;
        padding: $space-small;
        cursor: pointer;
        border: $space-micro solid $dark;
        background-color: $secondary-color;
        color: $light;
        font-size: $font-size-base;
        font-family: $font-family-monospace;

        &:hover,
        &:focus {
          background-color: $gray;
          color: $light;
        }
      }
    }
  }
}