@import '../../variables';

.mobile-menu {
  padding-left: 0rem !important;
  padding-right: 0rem !important;

  .up {
      float: right;
    }

  .list {
    padding: $space-massive 0;
    text-transform: uppercase;
    letter-spacing: $space-tiny;

    .first-link {
      background-color: lighten($gray-light, 30%);
    }

    .first-link:hover {
      background-color: $red;
    }

    .second-link {
      background-color: lighten($gray-light, 15%);
    }

    .second-link:hover {
      background-color: $red;
    }

    .third-link {
      background-color: $gray-light;
    }

    .third-link:hover {
      background-color: $red;
    }

    .item {
      border-top: none !important;
      border-bottom: $space-atomic solid $gray-lighter;

      .content {
        padding-top: $space-medium;
        padding-bottom: $space-small;

          a {
            border-bottom: none !important;
            color: $light !important;
          }
          a:hover {
            color: $light !important;
          }
      }
    }
  }
}
