@import '../../variables';

.ui.modal {

  .header {
    background: $light;
  }
  .content.modal-body {
    text-align: left;
    font-size: $font-size-base + $font-size-tiny;

    .modal-form {
      font-size: $font-size-base + $font-size-tiny;
      padding-top: 20px;

      input.email {
        width: 100%;
        padding: 8px 8px;
        margin: 0 4% 10px 0;
      }

      .actions {
        background: none;
        border-top: none;
        text-align: center;
        padding-left: 0px;

          .button{
            margin-left: 0px;
          }
          .ui.button {
            background: none;
          }
          .ui.positive.right.labeled {
            background-color: $emerald;
            color: #fff !important;
            border-radius: 0px !important;
            border: none;
            padding: 10px;
            margin: none;
            width: 100%;
            font-size: 18px;
          }

          .ui.positive.right.labeled:hover {
            background-color: rgba(18, 184, 131, 0.83);
          }
          .ui.modal .actions {
            padding: 0em;
          }

          .ui.button {
            width: 100%;
            padding: 0em;
          }
          .ui.button.custom:hover {
            background-color: #fff !important;
          }

          .ui.black.button {
            background: $light;
            padding: 10px 0px;
            margin-top: 24px;
            width: 40%;
            border-radius: 0px;
            font-weight: normal;
            color: $gray-darker;
            border: $gray;
            text-decoration: underline;
            text-align: center;
          }

          .ui.black.button:hover {
          }
      }

    }


  }

}
