@import '../../variables';

.sidebar {
  text-align: center;
  float: right;
  margin-right: $space-large;
  padding-top: $space-large;

  .ui.header {
        display: inherit;
        line-height: $font-size-large;
        padding-bottom: 0;
        margin-bottom: 0;

        a {
          font-size: $font-size-medium + $font-size-mini;
          display: block;
          font-size: $font-size-large + $font-size-tiny;
          text-shadow: 0px 1px 1px rgba(21, 50, 107, 0.1);
        }

        small {
          font-family: $font-family-serif;
          font-size: 68%;
          font-weight: normal;
        }
    }

  .avatar {
    margin: $space-medium auto $space-tiny auto;

    // #root-avatar {
    //   background: url("/images/avatar/avatar_root.jpg") no-repeat;
    //   height: 150px;
    //   width: 150px;
    // }
    //
    // #about-avatar {
    //   background: url("/images/avatar/avatar_about.jpg") no-repeat;
    //   height: 150px;
    //   width: 150px;
    // }
    //
    // #writing-avatar {
    //   background: url("/images/avatar/avatar_writing.jpg") no-repeat;
    //   height: 150px;
    //   width: 150px;
    // }
    //
    // #reading-avatar {
    //   background: url("/images/avatar/avatar_reading.jpg") no-repeat;
    //   height: 150px;
    //   width: 150px;
    // }
  }

    .quote {
      padding: $font-size-medium 0;

      .quote-content {
        p {
          font-size: $font-size-base + $font-size-atomic;
        }
        a {
          font-size: $font-size-base + $font-size-atomic;
        }
      }
    }


  @media (max-width: $desktop-width) {
    display: none;
  }
    @media (min-width: $desktop-width) {
      width: 20%;
    }
}

.ui.inverted.menu {
  background: $blue;
}
