@import '../../variables';

.sidebar {
  text-align: center;
  float: right;
  margin-right: $space-large;

  .ui.header {
        line-height: $font-size-medium;

        a {
          font-size: $font-size-medium + $font-size-mini;
        }

        small {
          font-family: $font-family-serif;
          font-size: 60%;
        }
    }

    .quote {
      padding: $font-size-medium 0;

      .quote-content {
        p {
          font-size: $font-size-base + $font-size-atomic;
        }
        a {
          font-size: $font-size-base + $font-size-atomic;
        }
      }
    }


  @media (max-width: $desktop-width) {
    display: none;
  }
    @media (min-width: $desktop-width) {
      width: 20%;
      top: 2rem;
    }
}

.ui.inverted.menu {
  background: $blue;
}
