@import '../../variables';

.topnav {
  padding-top: $space-large;

  @media (max-width: $desktop-width) {
    display: none;
  }

  .ui.menu {
    box-shadow: none;
  }

  .three.item.menu {
    width: 90%;

    a {
      box-shadow: none;
      font-size: $font-size-medium;
      -webkit-transition: -webkit-transform 350ms;
      transition: transform 350ms;
    }

    .item::before {
      background: none;
    }
  }
}
