@import '../../variables';

.topnav {
  padding-top: $space-large;

  @media (max-width: $desktop-width) {
    display: none;
  }

  .ui.menu {
    box-shadow: none;
    background: none;
  }

  .three.item.menu {
    width: 90%;

    .item {
      width: 24%;
    }
    a {
      box-shadow: none;
      font-size: $font-size-medium;
      -webkit-transition: -webkit-transform 350ms;
      margin-right: $space-mini;
      transition: all .3s ease-out;
      border-radius: $space-mini;
    }

    .item::before {
      background: none;
    }
  }
}
