<head>
  <title>Husam Machlovi | Product Strategy & Design</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700|Merriweather:400,700|Source+Sans+Pro:400,600,700|PT+Serif:400,400italic|Source+Serif+Pro' rel='stylesheet' type='text/css'>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="I have pitched to, and developed relationships with, top Fortune 100 companies. I've managed the design and development of software that has
  generated millions in revenue.">
  <meta property="og:title" content="Husam Machlovi | Product Strategy and Design">
  <meta property="og:description" content="I have pitched to, and developed relationships with, top Fortune 100 companies. I've managed the design and development of software that has
  generated millions in revenue.">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41596036-2', 'auto');
  ga('send', 'pageview');

  </script>

</head>

<body class="light-theme">

</body>
