.ui.grid {
	margin: 0%;
}

@font-face {
	font-family: "proximanova-light-webfont";
	src: url('/fonts/proximanova-light-webfont.woff');
}

@font-face {
	font-family: "proximanova-reg-webfont";
	src: url('/fonts/proximanova-reg-webfont.woff');
}

@font-face {
	font-family: "proximanova-sbold-webfont";
	src: url('/fonts/proximanova-sbold-webfont.woff');
}

@font-face {
	font-family: "AvenirLTStd-Light";
	src: url('/fonts/AvenirLTStd-Light.woff');
}

@font-face {
	font-family: "AvenirLTStd-Medium";
	src: url('/fonts/AvenirLTStd-Medium.woff');
}

body {
	font-family: 'AvenirLTStd-Light', arial, serif;
	line-height: 1.5238em;
	color: #333;
	background: #fff;
}

body p {
	font-size: 1.2rem;
}

body li {
	font-size: 1.2rem;
}

h1, h2, h3, h4 {
	font-family: "Georgia", sans-serif;
	color: #434242;
	padding-bottom: 10px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

.styled-list {
	list-style-type: disc;
	margin-left: 30px;
}

/*ANCHORS*/

body a, a:visited {
font-size: 1.1rem;
color: rgba(124, 124, 124, 1);
border-bottom: 1px solid rgba(124, 124, 124, 1);
text-decoration: none;
}

a:hover, a:focus {
color: #ed477c;
border-bottom: 1px solid #ed477c;
}

.active a {
color: #ed477c;
border-bottom: 1px solid #ed477c;
}

.ui.list .item a {
	font-size: 1.1rem;
	color: rgba(124, 124, 124, 1) !important;
	border-bottom: 1px solid rgba(124, 124, 124, 1) !important;
	text-decoration: none;
}

.ui.list .item a:hover {
	color: #ed477c !important;
	border-bottom: 1px solid #ed477c !important;
}

ul {
	list-style: none;
}

.intro {
	padding-bottom: 40px;
}

.roles {
	padding-bottom: 50px
}


/*UI SEGMENT*/

.ui.segment {

	-webkit-box-shadow: none;
	padding-bottom: 20px;
	}

/*MOBILE CSS*/

@media (max-width: 480px ) {


}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

}
