@import 'variables';

.ui.page.padded.grid.animated.fadeIn {
  display: inline-block;
  overflow-y: auto;
}

@media (min-width: $tablet-width) {
    .ui.page.grid {
      padding: 2% 4%;
  }
}

@media (min-width: $desktop-width) {
    .ui.page.grid {
      padding: 2% 6%;
  }
}

@media (min-width: $desktop-width) {
  .ui.padded.grid:not(.vertically):not(.horizontally) {
    margin: 0 auto !important;
  }
  .ui.page.grid {
    max-width: 90rem;
  }
}
.section {
  padding: 35px 0px !important;
}
