@import 'variables';

@media (min-width: $tablet-width) {
    .ui.page.grid {
      padding: 2% 6%;
  }
}

@media (min-width: $desktop-width) {
    .ui.page.grid {
      padding: 2% 12.5%;
  }
}

.section {
  padding: 35px 0px !important;
}
