@import 'variables';

body {
	font-family: $font-family-serif;
	line-height: $space-medium;
	overflow-x: hidden;
	letter-spacing: -.025rem;

	p, li {
		font-size: $font-size-base + $font-size-atomic + $font-size-atomic;

		@media (min-width: $tablet-width) {
			font-size: $font-size-base + $font-size-tiny;
		}
	}

	a, a:visited {
		text-decoration: none;
		font-size: $font-size-base + $font-size-atomic + $font-size-atomic;
		transition-duration: 0.15s;

		@media (min-width: $tablet-width) {
			font-size: $font-size-medium;
		}
	}
	a:hover, a:focus {
		text-decoration: underline;
	}

	ul {
		list-style-type: square;
		padding-bottom: $space-base;
	}

	img {
		margin: $space-medium 0;
		text-align: center;
	}

}

.ui.header {
	font-family: $font-family-sans-serif;
	font-weight: normal;
	background: none !important;
	border-bottom: none !important;
	padding-bottom: $space-base;
}

h2.ui.header {
	font-size: $font-size-medium + $font-size-mini;

	@media (min-width: $tablet-width) {
		font-size: $font-size-large + $font-size-tiny;
	}
}

h3.ui.header {
	font-size: $font-size-medium;

	@media (min-width: $tablet-width) {
		font-size: $font-size-large;
	}
}

h4.ui.header {
	font-size: $font-size-medium + $font-size-mini;
	font-family: $font-family-serif;
}

/*UI SEGMENT*/

.ui.segment {

	-webkit-box-shadow: none;
	padding-bottom: 20px;
	}
