@import 'variables';

body {
	font-family: $font-family-serif;
	line-height: $space-medium;
	color: $gray-dark;
	background: $light;
}

body p {
	font-size: 1.2rem;
}

body li {
	font-size: 1.2rem;
}

h1, h2, h3, h4 {
	font-family: $font-family-sans-serif;
	color: $header-color;
	padding-bottom: 10px;
	font-weight: normal;
}

h3 {
	font-size: $font-size-medium;
}

h4 {
	font-size: $font-size-base + $font-size-mini;
}

.styled-list {
	list-style-type: disc;
	margin-left: 30px;
}

/*ANCHORS*/

body a, a:visited {
font-size: $font-size-base + $font-size-atomic;
color: $link-color;
border-bottom: 1px solid $link-color;
text-decoration: none;
}

a:hover, a:focus {
color: $hover-color;
border-bottom: 1px solid $hover-color;
}

.active a {
color: #222;
border-bottom: 1px solid #333;
}

.ui.list .item a {
	font-size: 1.1rem;
	color: rgba(124, 124, 124, 1) !important;
	border-bottom: 1px solid rgba(124, 124, 124, 1) !important;
	text-decoration: none;
}

.ui.list .item a:hover {
	color: #333 !important;
	border-bottom: 1px solid #333 !important;
}

ul {
	list-style: none;
}

.intro {
	padding-bottom: 40px;
}

.roles {
	padding-bottom: 50px
}


/*UI SEGMENT*/

.ui.segment {

	-webkit-box-shadow: none;
	padding-bottom: 20px;
	}

/*MOBILE CSS*/

@media (max-width: 480px ) {


}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

}
