@import 'variables';

body {
	font-family: $font-family-serif;
	line-height: $space-medium;
	color: $gray-dark;
	background: $light;

	p, li {
		color: $gray-dark;
		font-size: $font-size-base + $font-size-atomic;
	}

	a, a:visited {
		color: $blue;
		border-bottom: 1px solid $blue;
		text-decoration: none;
		font-size: $space-base + $font-size-atomic;
	}
	a:hover, a:focus {
		color: $hover-color;
		border-bottom: 1px solid $hover-color;
	}

	ul {
		list-style-type: square;
		padding-bottom: $space-base;
	}

	img {
		margin: $space-medium 0;
		text-align: center;
	}

}

.ui.header {

	font-family: $font-family-sans-serif;
	color: $gray;
	font-weight: normal;
	background: none !important;
	border-bottom: none !important;
	padding-bottom: $space-base;
}

h2.ui.header {
	font-size: $font-size-medium;
}

h3.ui.header {
	font-size: $font-size-base + $font-size-mini;
}

h4.ui.header {
	font-size: $font-size-base;
}

/*UI SEGMENT*/

.ui.segment {

	-webkit-box-shadow: none;
	padding-bottom: 20px;
	}
