@import 'variables';

.main {
  @media (min-width: $desktop-width) {
    float: right;
    width: 70%;
  }
}

.view {
  padding: $space-medium 0;

  @media (min-width: $tablet-width) {
    padding: $space-jumbo 0;
  }
}

.module {
  padding: $space-medium 0;

  @media (min-width: $tablet-width) {
    padding: $space-huge 0;
  }
}

.row {
  width: 100% !important;
}
.intro {
  padding-bottom: $space-medium;
}
.main-content {
  padding-top: $space-large;
}
