@import 'variables';

.view {
  padding: $space-medium 0;
}

.module {
  padding: $space-medium 0;
}

.row {
  width: 100% !important;
}
.intro {
  padding-bottom: $space-large;
}
.main-content {
  padding-top: $space-large;
}
