@import 'variables';

.main {

  @media (min-width: $tablet-width) {
    padding-bottom: $space-huge;
  }

  @media (min-width: $desktop-width) {
    float: right;
    width: 70%;
    margin-right: $space-large + $space-tiny;
    padding-bottom: $space-massive;
  }

}

.view {
  padding: $space-medium 0;

  @media (min-width: $tablet-width) {
    padding: $space-jumbo 0;
  }
}

.module {
  padding: $space-medium 0;

  @media (min-width: $tablet-width) {
    padding: $space-huge 0;
  }
}

.row {
  width: 100% !important;
}

.intro {
  padding-bottom: $space-medium;
  border-bottom: $space-atomic solid $gray-lighter;

  @media(min-width: $tablet-width) {
    padding-bottom: $space-huge;
  }
}
