<template name="withpulp">
    <div class="sixteen wide column preface">
      <h2 class="ui center aligned header title">With Pulp</h2>
      <div class="ui center aligned header">
        <h3>With Pulp is a lean software development company. The project consisted of a complete website redesign, including new messaging, a new interface, business cards, social media.</h3>
        <p class="ui teal label">Branding</p>
        <p class="ui teal label">UX Design</p>
        <p class="ui teal label">UI Design</p>
        <p class="ui teal label">Copywriting</p>
        <p class="ui teal label">Print Design</p>
      </div>
    </div><!--preface-->
    <hr>
<!--
    <div class="row center">
      <div class="ui segment">
        <img class="ui centered image" src="/images/work/withpulp_desktop.jpg" />
      </div>
    </div>

      <div class="row center subhead">
        <h3>Menu</h3>
        <div class="ui segment">
          <img class="ui centered image" src="/images/work/withpulp_menu.jpg" />
        </div>
      </div>

      <div class="row center subhead">
        <h3>Team View with Hover State</h3>
        <div class="ui segment">
          <img class="ui centered image" src="/images/work/withpulp_team_hover.jpg" />
        </div>
      </div>

        <div class="row center subhead">
          <h3>Teammember Card</h3>
          <div class="ui segment">
            <img class="ui centered image" src="/images/work/withpulp_husamprofile.jpg" />
          </div>
        </div>

        <div class="row center subhead">
          <h3>Lead Capture</h3>
          <div class="ui segment">
            <img class="ui centered image" src="/images/work/withpulp_lc_1.jpg" />
          </div>
          <div class="ui segment">
            <img class="ui centered image" src="/images/work/withpulp_lc_2.jpg" />
          </div>
          <div class="ui segment">
            <img class="ui centered image" src="/images/work/withpulp_lc_3.jpg" />
          </div>
          <div class="ui segment">
            <img class="ui centered image" src="/images/work/withpulp_lc_4.jpg" />
          </div>
        </div>
!-->
</template>
