<template name="work">
  <div class="work view animated fadeIn">
    <section class="intro">
        <h2 class="ui header">Work</h2>
        <p>I have helped Fortune 100 clients plan, design and ship software products that have been used by millions of people.</p>
      </section>

      <section class="main-content">
      <div class="row clients module">
        <div class="column">
          <h3 class="ui header">Clients</h3>
          <div class="ui small images clients">
              <img src="/images/jj.png">
              <img src="/images/pfizer.png">
              <img src="/images/amc.png">
              <img src="/images/thermofisher.png">
              <img src="/images/amgen.png">
          </div>
        </div>
      </div>

      <div class="ui special link cards">
        {{#each cases}}
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">UX</div>
                  </div>
                </div>
              </div>
              <img src="{{thumbnail}}">
            </div>
            <div class="content">
              <a class="header">{{client}}</a>
              <div class="meta">
                <span class="role">{{role}}</span>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </section>
  </div>
</template>
