
nav {
  margin-top: 60px;
  padding-bottom: 40px;
}

nav ul {
  padding-left: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav li {
  display: inline;
}

nav a {
  margin-right: 20px;
}

nav .logo {
  margin-bottom: 20px;
}

nav .logo a {
  color: #12b883;
  margin-bottom: 100px;
  text-align: center;
  font-size: 2.0rem !important;
  text-transform: none;
  border-bottom: none;
  margin-bottom: 20px;
  font-weight: bold;
  display: inline-block;
}

nav .logo a:hover {
  border-bottom: 1px solid #12b883;
}

/*MOBILE CSS*/

@media (max-width: 480px ) {

  nav .logo a {
    font-size: 1.1rem !important;
    display: inline-block;
  }
}
