<template name="book">
  <div class="book view">
    {{#each books}}
      <section class="intro">
        <h2>{{title}}</h2>
        <img class="ui centered small image" src="{{cover}}" />
        <p>{{tagline}}</p>
          {{> MailChimpListSubscribe}}
      </section>
    <div class="chapters">
        <h3>Psychology-Driven UX Design Chapters</h3>
      {{#each chapters}}
        <section class="chapter">
          <h4><i class="fa fa-file-text-o"></i> {{title}}</h4>
          <p>{{description}}</p>
        </section>
        {{/each}}
      </div>
    {{/each}}
  </div>
</template>
