<template name="book">
  <div class="book view">
    {{#each books}}
      <section class="intro">
        <div class="row">
        <!-- <h2></h2> -->
        <img class="ui centered medium image" src="{{cover}}" />
        <p>{{tagline}}</p>
        <p>Join the Psychology-driven UX newsletter for updates</p>
      </div>
    </section>
    <section class="mailchimp module">
        {{> MailChimpListSubscribe title="Join the Psychology-driven UX Mailing List"}}
    </section>
      <section class="chapters">
        <h3 class="ui header">CHAPTERS</h3>
          <div class="ui two stackable cards">
            {{#each chapters}}
            <div class="card chapter">
              <h4><i class="fa fa-file-text-o"></i> {{title}}</h4>
              <p>{{description}}</p>
            </div>
            {{/each}}
          </div>
      </section>
    {{/each}}
  </div>
</template>
