<template name="book">
  <div class="book view animated fadeIn">
    {{#each books}}
      <section class="intro">
        <div class="row">
        <h2>Psychology-driven UX</h2>
        <p>{{tagline}}</p>
        <img class="ui centered medium image" src="{{cover}}" />
      </div>
    </section>
    <section class="mailchimp module ebook">
        {{> MailChimpListSubscribe title="Join the mailing list for book updates"}}
    </section>

      <section class="chapters">
        <h3 class="ui header">CHAPTERS</h3>
          <div class="ui two stackable cards">
            {{#each chapters}}
            <div class="card chapter">
              <h4 class="ui header"><i class="fa fa-file-text-o"></i> {{title}}</h4>
              <p>{{description}}</p>
            </div>
            {{/each}}
          </div>
      </section>

    {{/each}}
  </div>
</template>
