@import '../variables';

.dark-theme {
  color: $light;
  background-color: lighten($dark, 10%);
  //background-image: url("/images/night-sky-alt.jpg");
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;

  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //background: url(background-photo.jpg) center center cover no-repeat fixed;

  @media (min-width: $tablet-width) {
    //background: url("/images/night-sky-desktop.jpg") no-repeat center center fixed;

  }
  nav {
    .menu-button {
      color: $yellow !important;
    }
  }

  .sidebar {
    .avatar {
      background: url("/images/husam-profile.jpg") no-repeat;
      width: 150px;
      height: 169px;
    }
  }
  a, a:visited {
    color: $yellow;
  }

  .ui.header {
    color: $light;
  }

  .intro.segment {
    border-bottom: $space-atomic solid $dark;
  }

  .three.item.menu {
    background: none;
    a {
      color: $yellow;
      border-radius: $space-mini;
      border: $space-atomic solid $yellow;
      box-shadow: $space-atomic $space-atomic $space-atomic $dark;
      margin-right: $space-mini;
      transition: all .3s ease-out;
    }
    a:hover {
      color: $yellow;
      border: $space-atomic solid darken($yellow, 10%);
    }
    .active {
      color: $yellow;
      border: $space-atomic solid darken($yellow, 10%);
    }
  }

  .module.mailchimp {
    .inline.field {
      .mailchimp-email {
        border: $space-atomic solid $dark;
      }

      .mailchimp-subscribe.button {
        background-color: $green;
        color: $light;
        border: $space-atomic solid $dark;
      }
    }
  }

  .book {
  .chapters {
    .chapter {
      border: $space-atomic solid $dark;
    }
  }
}


  .mobile-menu {
    border-top: $space-atomic solid $dark;

    .up {
      color: $yellow;
    }

    p {
      color: $light;

      i {
        color: $yellow;
      }
    }
  }

  footer {
    border-top: $space-atomic solid $dark;
    color: $gray-lighter;
    i {
      color: yellow;
    }
    i:hover {
      color: $gray-lighter;
    }

  }
}
