@import '../variables';

.dark-theme {
  color: $light;
  background-color: lighten($dark, 10%);

  .root {
    .module {
      .ui.header {
        .root-nav {
          color: $light;
        }
      }
    }
  }

  nav {
    .menu-button {
      color: $dark-theme-primary !important;
    }
  }

  .sidebar {
    .avatar {
      background: url("/images/husam-profile.jpg") no-repeat;
      width: 150px;
      height: 150px;
    }
    i {
      color: $yellow;
      border: $space-atomic solid $yellow;
      box-shadow: $space-atomic $space-atomic $space-tiny $yellow;
    }
    i:hover {
      color: $gray-light;
      background: none;
      border: $space-atomic solid $gray-light;
      box-shadow: $space-atomic $space-atomic $space-atomic gray;
    }
  }
  a, a:visited {
    color: $dark-theme-primary;
  }

  .ui.header {
    color: $light;
  }

  .intro.segment {
    border-bottom: $space-atomic solid $dark;
  }

  .three.item.menu {
    background: none;

    a {
      color: $gray-light;
      border: $space-atomic solid $gray-dark;
      box-shadow: $space-atomic $space-atomic 0 $gray-dark;
    }
    a:hover {
      color: lighten($dark-theme-primary, 10%);
      border: $space-atomic solid $dark-theme-primary;
      box-shadow: $space-atomic $space-atomic $space-mini $dark-theme-primary;

    }
    .active {
      color: lighten($dark-theme-primary, 10%);
      border: $space-atomic solid $dark-theme-primary;
      box-shadow: $space-atomic $space-atomic $space-mini $dark-theme-primary;
    }
  }

  .root {
    .ui.header {
      .root-nav i {
        color: $dark-theme-primary !important;
      }
    }
  }

  .module.mailchimp {
    .inline.field {
      .mailchimp-email {
        border: $space-atomic solid $dark;
      }

      .mailchimp-subscribe.button {
        background-color: $red;
        color: $light;
        border: $space-atomic solid $dark;
      }
    }
  }

  .book {
    .intro {
        img {
        box-shadow: $space-mini $space-mini 0 $gray-light;
      }
    }
    .module.mailchimp {
      background: $dark;
    }
  .chapters {
    .chapter {
      border: $space-atomic solid $dark;
      background-color: lighten($dark, 10%);
    }
  }
}


  .mobile-menu {
    border-top: $space-atomic solid $dark;

    .up {
      color: $dark-theme-primary;
    }

    p {
      color: $light;

      i {
        color: $dark-theme-primary;
      }
    }
  }

  footer {
    border-top: $space-atomic solid $dark;
    color: $gray-lighter;
    i {
      color: $dark-theme-primary;
    }
    i:hover {
      color: $gray-lighter;
    }

  }
}
