@import '../variables';

.dark-theme {
  background: $gray-darker;
  color: $light;
  background: url("/images/beautiful-night-sky-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  nav {
    .menu-button {
      color: $yellow !important;
    }
  }


  a, a:visited {
    color: $yellow;
  }

  .ui.header {
    color: $light;
  }

  .three.item.menu {
    background: none;
    a {
      border: $space-atomic solid $gray-darker;
      color: $gray-lighter;
      box-shadow: inset 0px -1px 0px 0px rgba(105, 105, 105, 0.5), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
      text-shadow: 0px 1px 1.8px $dark;
    }
    a:hover {
      color: $yellow;
      border: $space-atomic solid darken($yellow, 10%);
      box-shadow: inset 0px -1px 0px 0px darken($yellow, 10%), inset 0px 0px 0px 0px darken($yellow, 10%), 0px 0px 1px 0px darken($yellow, 10%);
      background: fade-out($gray-darker, .5);
    }
    .active {
      color: $yellow;
      border: $space-atomic solid darken($yellow, 10%);
      box-shadow: inset 0px -1px 0px 0px darken($yellow, 20%), inset 0px 0px 0px 0px darken($yellow, 20%), 0px 0px 1px 0px darken($yellow, 20%);
      background: fade-out($gray-darker, .5);
    }
  }

  .mobile-menu {
    border-top: $space-atomic solid $light;
    border-bottom: $space-atomic solid $light;

    .up {
      color: $yellow;
    }

    p {
      color: $light;
    }
  }

  footer {
    border-top: $space-atomic solid $dark;
    color: $gray-light;

    i {
      color: $yellow;
    }
  }
}
