@import '../variables';

.light-theme {
  background: $light;
  color: $gray-dark;
  background: url('/images/polygon.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  a, a:visited {
    color: $blue-alt;
  }

  .ui.header {
    color: $gray-dark;
  }

  .three.item.menu {
    a {
      border: $space-atomic solid $gray-lighter;
      color: $gray-light;
      box-shadow: inset 0px -1px 0px 0px rgba(105, 105, 105, 0.5), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
      text-shadow: 0px 1px 1.8px #fafcff;
      background: $light;
    }
    a:hover {
      color: $blue-alt;
      border: $space-atomic solid lighten($blue-alt, 10%);
      box-shadow: inset 0px -1px 0px 0px lighten($blue-alt, 10%), inset 0px 0px 0px 0px lighten($blue-alt, 10%), 0px 0px 1px 0px lighten($blue-alt, 10%);
    }
    .active {
      color: $blue-alt;
      border: $space-atomic solid lighten($blue-alt, 10%);
      box-shadow: inset 0px -1px 0px 0px lighten($blue-alt, 20%), inset 0px 0px 0px 0px lighten($blue-alt, 20%), 0px 0px 1px 0px lighten($blue-alt, 20%);
      background: $light;
    }
  }

  .up {
    color: $light;
  }


  footer {
    p {
      color: $gray;
    }
    i {
      color: $blue-alt;
    }
  }
}
