@import '../variables';

.light-theme {
  background: $light;
  background-image: url('/images/textures/shattered.png');
  color: $gray-dark;

    nav {
      .menu-button {
        color: $light-theme-primary;
         float: right;
         font-size: $font-size-base + $font-size-tiny;

       }
       .menu-button:hover {
         color: $red;
       }
     }

  .sidebar {
    .avatar {
      background: url("/images/husam-profile2.jpg") no-repeat;
      width: 150px;
      height: 150px;
    }
  }

  a, a:visited {
    color: $light-theme-primary;
  }

  .ui.header {
    color: $gray-dark;
  }


  .intro.segment {
    border-bottom: $space-atomic solid $gray-lighter;
  }

  .three.item.menu {
    a {
      color: $gray-light;
      border: $space-atomic solid $gray-lighter;
      box-shadow: $space-atomic $space-atomic 0 $gray-lighter;

    }
    a:hover {
      color: darken($light-theme-primary, 10%);
      border: $space-atomic solid $light-theme-primary;
      box-shadow: $space-atomic $space-atomic $space-mini $light-theme-primary;
      background: $light;
    }
    .active {
      color: darken($light-theme-primary, 10%);
      border: $space-atomic solid $light-theme-primary;
      box-shadow: $space-atomic $space-atomic $space-mini $light-theme-primary;
      background: $light;
    }
  }
  .root {
    .ui.header {
      .root-nav i {
        color: $light-theme-primary !important;
      }
    }
  }

  .book {
  .chapters {
    .chapter {
      border: $space-atomic solid $gray-lighter;
    }
  }
}

  .module.mailchimp {
    .inline.field {
      .mailchimp-email {
        border: $space-atomic solid $gray;
      }
      .mailchimp-subscribe.button {
        background-color: $yellow;
        color: $dark;
        border: $space-atomic solid $gray;
      }
    }

  }
  .mobile-menu {
    border-top: $space-atomic solid $gray-lighter;
    border-bottom: $space-atomic solid $gray-lighter;

    .up {
      color: $light-theme-primary;
    }

    p {
      color: $dark;

      i {
        color: $light-theme-primary;
      }

    }
  }


  footer {
    p {
      color: $gray;
    }
    i {
      color: $light-theme-primary;
    }
    i:hover {
      color: lighten($light-theme-primary, 5%);
    }
  }
}
