@import '../variables';

.light-theme {
  background: $light;
  color: $gray-dark;
  // background: url('/images/polygon.jpg') no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;

    nav {
      .menu-button {
        color: $green;
         float: right;
         font-size: $font-size-base + $font-size-tiny;

       }
       .menu-button:hover {
         color: $red;
       }
     }

  .sidebar {
    .avatar {
      background: url("/images/husam-profile2.jpg") no-repeat;
      width: 150px;
      height: 169px;
    }
  }

  a, a:visited {
    color: $green;
  }

  .ui.header {
    color: $gray-dark;
  }

  .intro.segment {
    border-bottom: $space-atomic solid $gray-lighter;
  }

  .three.item.menu {
    a {
      border: $space-atomic solid darken($gray-lighter, 20%);
      color: $gray-light;
    }
    a:hover {
      color: $green;
      border: $space-atomic solid $green;
      background: fade-out($light, .3);
    }
    .active {
      color: $green;
      border: $space-atomic solid $green;
      background: fade-out($light, .3);
    }
  }

  .book {
  .chapters {
    .chapter {
      border: $space-atomic solid $gray-lighter;
    }
  }
}

  .module.mailchimp {
    .inline.field {
      .mailchimp-email {
        border: $space-atomic solid $gray;
      }
      .mailchimp-subscribe.button {
        background-color: $yellow;
        color: $dark;
        border: $space-atomic solid $gray;
      }
    }

  }

  #mc_embed_signup .button {
    background-color: $blue-alt;
  }
  .mobile-menu {
    border-top: $space-atomic solid $gray-lighter;
    border-bottom: $space-atomic solid $gray-lighter;

    .up {
      color: $green;
    }

    p {
      color: $dark;

      i {
        color: $green;
      }

    }
  }


  footer {
    p {
      color: $gray;
    }
    i {
      color: $green;
    }
    i:hover {
      color: lighten($green, 5%);
    }
  }
}
