@import '../../variables';

.book {
  text-align: center;

  .intro {
    border-bottom: none;

    img {
      width: 100%;
      box-shadow: $space-mini $space-mini $space-base $gray;
    }
  }

  .module.mailchimp {
    padding: $space-small $space-tiny;;

    .subscribe {

      .mailchimp-message {
        font-weight: bold;
      }
    }

  }

  .chapters {

    .ui.header {
      padding-top: $space-large;
    }

    .cards {
      .card.chapter {
        padding: $space-jumbo $space-base !important;
        text-align: center;

        .ui.header {
          font-weight: bold;
        }
      }
    }
  }
}
