@import '../../variables';

.book {
  text-align: center;

  .intro {
    border-bottom: none;
    img {
      width: 100%;
    }
  }

  .chapters {

    .ui.header {
      padding-top: $space-large;
    }

    .cards {
      .card.chapter {
        padding: $space-jumbo $space-base !important;
        text-align: center;

        @media (min-width: $desktop-width) {
          text-align: left;
        }

        h4 {
          font-size: $font-size-base + $font-size-micro;
        }
        p {
        }
      }
    }
  }
}
