@import '../../variables';

.book {
  text-align: center;

  .intro {
    border-bottom: none;
    img {
      width: 100%;
    }
  }

  .chapters {

    .ui.header {
      padding-top: $space-large;
    }

    .row {

      h4 {
        font-size: $space-medium;
      }

      .chapter {
        padding: $space-large;

        height: $space-god + $space-huge;
      }
    }
  }
}
