<template name="root">
  <div class="root view">
    <section class="about module">
      <h2 class="ui header">
        About
      </h2>
      <p>
        Six years of leadership and execution in digital product design.
      </p>
      <a class="primary-link {{isActiveRoute regex='about'}}" href="{{pathFor 'about'}}">Learn about Husam</a>
    </section>
    <section class="writings module">
      <h2 class="ui header">
        Writing
      </h2>
      <p>
        Thoughts on product psychology, lifestyle design and leadership.
      </p>
      <a class="primary-link {{isActiveRoute regex='writing'}}" href="{{pathFor 'writing'}}">See my articles</a>
    </section>
    <section class="reading module">
      <h2 class="ui header">
        Reading
      </h2>
      <p>A collection of books that have enhanced my worldview.</p>
        <a class="primary-link {{isActiveRoute regex='reading'}}" href="{{pathFor 'reading'}}">See my favorite books</a>
    </section>
  </div>
</template>
