<template name="root">
  <div class="root view">
    <section class="about module">
      <h3 class="ui header">
        About
      </h3>
      <p>
        Six years of leadership and execution in digital product design.
      </p>
      <a class="primary-link {{isActiveRoute regex='about'}}" href="{{pathFor 'about'}}">Learn about Husam</a>
    </section>
    <section class="writings module">
      <h3 class="ui header">
        Writings
      </h3>
      <p>
        Essays on user behavior, emotional design and product psychology translated into multiple languages.
      </p>
        <p>
            Author of Psychology-Driven UX, an ebook that catalogs design patterns for the modern software user.
        </p>
      <a class="primary-link {{isActiveRoute regex='writing'}}" href="{{pathFor 'writing'}}">See my articles</a>
    </section>
    <section class="work module">
      <h3 class="ui header">
        Work
      </h3>
      <p>Designed and built software that's been used by millions of people.</p>
        <p>Clients include Johnson & Johnson, Pfizer, AMC Networks and WWE.</p>
        <a class="primary-link {{isActiveRoute regex='work'}}" href="{{pathFor 'work'}}">See my work</a>
    </section>
  </div>
</template>
