<template name="work">
  <div class="work view animated fadeIn">
    <section class="intro">
        <h2 class="ui header">Work</h2>
        <p>I have helped Fortune 100 clients plan, design and ship software products that have been used by millions of people.</p>
        <p class="list-header">I do things like:</p>
        <ul class="styled-list">
            <li>Lead product teams</li>
            <li>Create product concepts</li>
            <li>Design user interfaces</li>
            <li>Invent better ways to manage design and development</li>
        </ul>
        <p>I believe:</p>
        <ul class="styled-list">
            <li>When content drives product development, brands can create meaningful and memorable user experiences</li>
            <li>Teams that quickly and continuously adapt to change develop successful products</li>
        </ul>
      </section>
      <section class="main-content">
        {{> clients}}
      </section>
  </div>
</template>
