<template name="portfolio">
      <div class="ui special link cards">
        {{#each cases}}
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">UX</div>
                  </div>
                </div>
              </div>
              <img src="{{thumbnail}}">
            </div>
            <div class="content">
              <a class="header">{{client}}</a>
              <div class="meta">
                <span class="role">{{role}}</span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

</template>
