<template name="modal">
  <div class="ui modal">
  <div class="header">
  <h2>Design Kick-ass UX</h2>
  </div>
  <div class="content modal-body">
      <p>Solid User Experience design relies on a solid understanding of Human Psychology and Behavior.</p>
      <p>My upcoming book "Psychology-driven UX" deconstructs the key psychological concepts for great UX design.</p>
      <p>I'd like to give you a free early copy of the book. You'll also get exclusive weekly research on user behavior and perception directly to your inbox.</p>
    <div class="modal-form">
      <form action="//husammachlovi.us7.list-manage.com/subscribe/post?u=d2dfcf7ddc2440565bdc763b9&amp;id=6ff57e103f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <!--<label for="mce-EMAIL">Thoughts on Psychology and UX </label>-->
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_d2dfcf7ddc2440565bdc763b9_6ff57e103f" tabindex="-1" value=""></div>
          <div class="actions">
            <div class="button custom">
              <input type="submit" value="Reserve the Free Ebook" name="subscribe" id="mc-embedded-subscribe" class="ui positive right labeled fluid">
            </div>
            <div class="ui black button">
              No thanks
            </div>
          </div>
        </div>
      </form>
    </div><!--mailchimp-->
  </div>
</div>
</template>
