<template name="footer">
    <footer>
      <div class="ui sixteen column grid contact">
          <div class="ten wide column endmatter">
            <p>&copy; 2015 Husam Machlovi Product Strategy & Design. <a class="primary-link" href="">Contact me</a> with any questions or comments.</p>
          </div>
          <div class="six wide column social">
              <a title="twitter" href="http://twitter.com/hmachlovi"><i class="fa fa-twitter-square"></i></a>
              <a title="github" href="https://github.com/hudat"><i class="fa fa-github-square"></i></a>
              <a title="linkedin" href="https://www.linkedin.com/in/husammachlovi"><i class="fa fa-linkedin-square"></i></a>
          </div>
      </div>
   </footer>
</template>
