<template name="footer">
    <footer>
        <div class="ui padded grid footer module">
          <hr class="footer-rule">
                {{> mobileMenu}}}
                <div class="row contact">
                    <div class="thirteen wide column endmatter">
                        <p><a href="">Contact me</a> with any questions or comments.</p>
                        <p class="copyright">&copy; 2015, Husam Machlovi Product Strategy & Design.</p>
                    </div>
                    <div class="three wide column social">
                        <i class="fa fa-twitter-square"></i>
                        <i class="fa fa-github-square"></i>
                        <i class="fa fa-linkedin-square"></i>
                    </div>
                </div>
        </div><!--footer-->
   </footer>
</template>
