<template name="header">
  <div class="header module">
      <div class="nav">
          <a class="logo" href="">Husam</a>
          <a class="menu-button" href=""><i id="menu-icon" class="fa fa-bars"></i></a>
          <p>Product Strategy & Design</p>
      </div>
      <nav>
        <li class="{{isActiveRoute regex='about'}}"><a href="{{pathFor 'about'}}">About</a></li>
          <li class="{{isActiveRoute regex='books'}}"><a href="{{pathFor 'books'}}">Writing</a></li>
        <li class="{{isActiveRoute regex='portfolio'}}"><a target="window" href="http://portfolio.husammachlovi.com">Work</a></li>
      </nav>
  </div>
</template>
