<template name="loading">
  <div class="ui page grid">
    <div class="container">

      <div class="cord leftMove">
        <div class="ball"></div>
      </div>
      <div class="cord">
        <div class="ball"></div>
      </div>
      <div class="cord">
        <div class="ball"></div>
      </div>
      <div class="cord">
        <div class="ball"></div>
      </div>
      <div class="cord">
        <div class="ball"></div>
      </div>
      <div class="cord">
        <div class="ball"></div>
      </div>
      <div class="cord rightMove">
        <div class="ball" id="first"></div>
      </div>


      <div class="shadows">
        <div class="leftShadow"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="rightShadow"></div>
      </div>
    </div>
  </div>
</template>
