<template name="mobileMenu">
    <div class="mobile-menu module" id="mobile-menu">
        <a id="up-button" class="up">Going up? <i class="fa fa-chevron-up"></i></a>
        <div class="ui relaxed divided list">
            <div class="item">
                <div class="content">
                    <a class="{{isActiveRoute regex='about'}}" href="{{pathFor 'about'}}">About</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="{{isActiveRoute regex='writing'}}" href="{{pathFor 'writing'}}">Writing</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="{{isActiveRoute regex='work'}}" href="{{pathFor 'work'}}">Work</a>
                </div>
            </div>
        </div>
    </div>
</template>
