<template name="mobileMenu">
    <div class="mobile-menu module">
        <div class="ui relaxed divided list">
            <div class="item">
                <div class="content">
                    <a class="header {{isActiveRoute regex='about'}}" href="{{pathFor 'about'}}">About</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header">Writing</a>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header">Work</a>
                </div>
            </div>
        </div>
    </div>
</template>
