<template name="sidebar">
  <section>
    {{#each author}}
      <h1 class="ui header">
        <a class="logo" href="/">{{name}}</a>
        <small>{{tagline}}</small>
      </h1>
      <div class="avatar image">
        <img src="{{avatar}}" />
        <!-- <div id="root-avatar" class="hide">
        </div>
        <div id="about-avatar" class="hide">
        </div>
        <div id="writing-avatar" class="hide">
        </div>
        <div id="reading-avatar" class="hide">
        </div> -->
      </div>
    {{/each}}
    </section>
    <section>
      {{> quote}}
    </section>

</template>
