<template name="sidebar">
  <section>
      <h1 class="ui header">
        <a class="logo" href="/">Husam</a>
        <small>Product Design</small>
      </h1>
      <div class="avatar image">
        <!-- <div id="root-avatar" class="hide">
        </div>
        <div id="about-avatar" class="hide">
        </div>
        <div id="writing-avatar" class="hide">
        </div>
        <div id="reading-avatar" class="hide">
        </div> -->
      </div>
    </section>
    <section>
      {{> quote}}
    </section>

</template>
