@import '../../variables';

.quote {
  padding: 0;

  .quote-content {

      p {
          font-size: $font-size-base + $font-size-mini;
          color: lighten($gray-light, 20%);
          font-weight: normal;
          padding: 0;
          text-align: center;
      }

      a {
        font-size: $font-size-base + $font-size-mini;
        display: block;
      }
  }
}
