@import '../../variables';

.quote {

  padding-bottom: $space-huge;

  .quote-content {

      p {
          font-size: $font-size-base + $font-size-mini;
          color: lighten($gray-light, 20%);
          font-weight: normal;
          padding: 0;
          text-align: center;

          @media(min-width: $tablet-width) {
            font-size: $font-size-large;
          }
      }

      a {
        font-size: $font-size-base + $font-size-mini;
        display: block;

        @media(min-width: $tablet-width) {
          font-size: $font-size-large;
        }
      }
  }
}
