
.stackable.ui.grid.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: .8em;
}

.footer-rule {
  margin-bottom: 20px;
}

.endmatter p {
  color: #ABA9A9;
  font-size: .7em;
  line-height: 1.5em;
}

.copyright {
  padding-top: 40px;
}

#mc_embed_signup form {
  padding: 0px !important;
}

#mc_embed_signup .button {
  font-family: 'Libre Baskerville', serif;
  background-color: #888 !important;
  color: #fff !important;
  border-radius: 0px !important;
}

#mc_embed_signup .button:hover {
  background-color: #0066a4 !important;
}
