
.stackable.ui.grid.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: .8em;
}

.footer-rule {
  border-color: rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
}

.endmatter p {
  color: #12b883;
  font-size: .85em;
  line-height: 1.5em;
}

.copyright {
  padding-top: 40px;
}

#mc_embed_signup form {
  padding: 0px !important;
}

#mc_embed_signup .button {
  font-family: 'AvenirLTStd-Medium', serif;
  background-color: #12b883 !important;
  color: #fff !important;
  border-radius: 0px !important;
}

#mc_embed_signup .button:hover {
  background-color: #12b883 !important;
}

/*mobile menu*/
.ui.footer.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 3;
  border-radius: 0;
  -webkit-box-shadow: 0 0 .4rem 0 rgba(34, 34, 34, 0.45);
  box-shadow: 0 0 .4rem 0 rgba(34, 34, 34, 0.45);
}

.ui.menu .item {
  font-size: 1.4rem;
}

/*mobile overlay*/
nav.ui.mobile.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 2;
  background: #fff;
  display: none;
}

.show {
  display: block !important;
}

@media (max-width : 767px) {
  .ui.stackable.padded.grid.footer {
    display: none !important;
  }
}

@media (min-width : 768px) {
  .ui.footer.menu {
    display: none;
  }
  nav.ui.mobile.overlay {
    display: none;
  }
}
