<template name="reading">
  <div class="reading view animated fadeIn">
    <section class="intro segment">
      <h2 class="ui header">
        Reading
      </h2>
      <p>
        Reading has been my greatest source of information and inspiration. There are a handful of books that have really changed my life for the better..
      </p>
    </section>
    <section class="readinglog module">
      <h3 class="ui header">Favorite books</h3>
      <ul>
        <li>1984</li>
        <li>Shantaram</li>
        <li>The 4-Hour Workweek</li>
        <li>Dune</li>
        <li>Art of Learning</li>
          <li>The War of Art</li>
      </ul>
    </section>
    <!-- <section class="reviews module">
      <h3 class="ui header">Book Reviews</h3>
      {{> reviews}}
    </section> -->
  </div>
</template>
