<template name="reading">
  <div class="reading view animated fadeIn">
    <section class="intro segment">
      <h2 class="ui header">
        Reading
      </h2>
      <p>
        Reading has been my greatest source of information and inspiration. Below is a list of books that have challenged my perspective and changed the way I live.
      </p>
    </section>

    <section class="readinglog module">
      <div class="ui grid row stackable">
          {{> readingLog}}
  </div>
    </section>
    <!-- <section class="reviews module">
      <h3 class="ui header">Book Reviews</h3>
      {{> reviews}}
    </section> -->
  </div>
</template>
