<template name="reading">
  <div class="reading view animated fadeIn">
    <section class="intro segment">
      <h2 class="ui header">
        Reading
      </h2>
      <p>
        Reading has been my greatest source of information and inspiration. Below is a list of books that have challenged my perspective and changed the way I live.
      </p>
    </section>

    <section class="readinglog module">
      <div class="ui grid row stackable">
        <div class="eight wide column">
          <h3 class="ui header">Best Design Books</h3>
          <ul>
            <li>Mobile-First Design</li>
            <li>Designing with Emotion</li>
            <li>The Design of Everyday Things</li>
            <li>Don't Make Me Think</li>
            <li>Emotional Design</li>
          </ul>
        </div>
        <div class="eight wide column">
          <h3 class="ui header">Best Non-Design Books For Design</h3>
          <ul>
            <li>Drive</li>
            <li>The Writer's Journey</li>
            <li>22 Immutable Laws Of Marketing</li>
            <li>The War Of Art</li>
            <li>Art Of Learning</li>
          </ul>
        </div>
      <div class="eight wide column">
      <h3 class="ui header">Fiction</h3>
      <ul>
        <li>1984</li>
        <li>Shantaram</li>
        <li>Dune</li>
        <li>Crime & Punishment</li>
        <li>The Diamond Age</li>
      </ul>
    </div>
    <div class="eight wide column">
      <h3 class="ui header">Non-Fiction</h3>
      <ul>
        <li>The 4-Hour Workweek</li>
        <li>Metaphors We Live By</li>
        <li>A Whole New Mind</li>
        <li>As A Man Thinketh</li>
        <li>Think And Grow Rich</li>
      </ul>
    </div>
  </div>
    </section>
    <!-- <section class="reviews module">
      <h3 class="ui header">Book Reviews</h3>
      {{> reviews}}
    </section> -->
  </div>
</template>
