.photos-preface {
  padding-bottom: 50px;
}

.gallery img {
    max-width: 60%;
    height: auto;
    padding-bottom: 20px;
}

/*MOBILE CSS*/

@media (max-width: 480px ) {

  .gallery img {
      max-width: 100%;
  }
}



/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

  .gallery img {
      max-width: 100%;
  }
}
