.photos-preface {
  padding-bottom: 50px;
}

.gallery img {
    max-width: 80%;
    height: auto;
    padding-bottom: 60px;
}

/* iPads (portrait and landscape) ----------- */
@media (max-width : 1024px) {

  .gallery img {
      max-width: 100%;
  }
}
