.intro-header {
  margin-top: 0px;
  margin-bottom: 40px;
}


.logos img {
  padding-right: 20px;
}

h2.quote {
  padding-bottom: 20px;
  font-size: 1.4em;
  color: #333;
}


@media (max-width: 480px) {
  .styled-list {
    margin-left: 0px !important;
  }
  .headshot img {
    display: block;
    margin: auto;
  }
  .logos img {
    display: block;
    margin: auto;
  }

}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 767px) {
  .headshot img {
    float: left;
    margin-right: 15px;
  }
  .intro-header {
    margin-bottom: 20px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
  .eleven.wide.column.bio {
    margin-left: 44px;
    padding-left: 24px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
}
