/*Quotes*/

h2.quote {
  font-size: 1.2rem;
  color: #12B883;
  font-family: georgia;
  font-weight: normal;
}

.headshot img {
  border: 1px solid #12B883;
}
/*Articles & excerpts*/

.excerpt p {
  padding-top: 10px;
  padding-bottom: 30px;
}

.excerpt a {
  font-size: 1.3rem;
  color: #12B883;
}

.small img {
  padding-right: 20px;
  width: 139px !important;
}

/*Mobile*/
@media (max-width: 480px) {
  .styled-list {
    margin-left: 0px !important;
  }
  .headshot img {
    display: block;
    margin: auto;
  }
  .small img {
    display: block;
    margin: auto;
    width: 146px !important;
  }

}

/* Mobile (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 767px) {
  .headshot img {
    float: left;
    margin-right: 15px;
  }
  .intro-header {
    margin-bottom: 20px;
  }
  .small img {
    display: block;
    margin: auto;
    width: 144px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 539px) and (max-width : 767px) {

}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
  .eleven.wide.column.bio {
    margin-left: 44px;
    padding-left: 24px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .small img {
    width: 130px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 1025px) {
  .small img {
    width: 139px !important;
  }
}
