.intro-header {
  margin-top: 0px;
  margin-bottom: 40px;
}

/*Quotes*/

h2.quote {
  padding-bottom: 20px;
  font-size: 1.6em;
  color: #333;
  font-family: 'proximanova-sbold-webfont';
}

/*Article excerpts*/
.excerpt {
  padding-bottom: 30px;
}


.excerpt p {
  padding-top: 10px;
}

.excerpt a {
  font-size: 1.3rem;
}

.small img {
  padding-right: 20px;
  width: 165px !important;
}

/*Mobile*/
@media (max-width: 480px) {
  .styled-list {
    margin-left: 0px !important;
  }
  .headshot img {
    display: block;
    margin: auto;
  }
  .small img {
    display: block;
    margin: auto;
    width: 127px !important;
  }

}

/* Mobile (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 767px) {
  .headshot img {
    float: left;
    margin-right: 15px;
  }
  .intro-header {
    margin-bottom: 20px;
  }
  .small img {
    display: block;
    margin: auto;
    width: 144px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 539px) and (max-width : 767px) {
  p.list-header {
    margin-top: 72px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
  .eleven.wide.column.bio {
    margin-left: 44px;
    padding-left: 24px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .small img {
    width: 130px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 1025px) {
  .small img {
    width: 162px !important;
  }
}
