<template name="about">
    <div class="about view animated fadeIn">
      <section class="quote animated fadeIn">
        {{> quote}}
      </section>
      <section class="intro segment">
        <h2 class="ui header">About</h2>
        <p>I'm a digital product designer who has designed and built software used by millions of people worldwide. My principle: Reduce content and form to their essence.</p>
      </section>
        <div class="story module">
          <h3 class="ui header">Summary</h3>
          <p>Over the past 6 years, I have guided clients in their efforts to better service their customers, work more effectively and grow their businesses.</p>
          <p class="list-header">I do things like:</p>
          <ul class="styled-list">
              <li>Lead product teams</li>
              <li>Create product concepts</li>
              <li>Design user interfaces</li>
              <li>Invent better ways to manage design and development</li>
          </ul>
          <p>I believe:</p>
          <ul class="styled-list">
              <li>Interface design should drive product development because it's what people use</li>
              <li>Design is most effective in environments where change is embraced</li>
              <li>User interfaces are software so designers should know how to code</li>
          </ul>
        </div>
        <div class="clients module">
          <h3 class="ui header">Clients</h3>
          {{> clients}}
        </div>
        <div class="ui grid stackable row">
          <div class="eight wide column skills module">
          <h3 class="ui header">Specialities</h3>
            <ul>
              <li>User Experience Design</li>
              <li>Mobile-First Design</li>
              <li>HTML, CSS, Javascript</li>
              <li>Usability Testing</li>
              <li>Lean Product Development</li>
            </ul>
          </div>
        <div class="eight wide column experience module">
          <h3 class="ui header">Experience with:</h3>
            <ul>
              <li>Magento</li>
              <li>Drupal</li>
              <li>Veeva</li>
              <li>WordPress</li>
            </ul>
        </div>
      </div>
      <div class="work module">
        <h3 class="ui header">Work</h3>
        <p>Refer to my <a title="Portfolio" href="http://portfolio.husammachlovi.com">portfolio</a> for some of my UX and UI work.</p>
      </div>
    </div>
</template>
