<template name="about">
    <div class="about view animated fadeIn">
      <section class="quote animated fadeIn">
        {{> quote}}
      </section>
      <section class="intro">
        <h2 class="ui header">About</h2>
        <p>I'm a Software Product Leader based in New York City. I have helped Fortune 100 clients plan, design and ship software products that have been used by millions of people.</p>
      </section>
        <div class="story module">
          <h3 class="ui header">My Story</h3>
          <p>I'm a Software Product Design Consultant based in New York City.</p>
          <p>Over my six years in Product Design, I've had the privilege of working with companies like Johnson & Johnson, Pfizer, AMC Networks, WWE and more.</p>
          <p class="list-header">I do things like:</p>
          <ul class="styled-list">
              <li>Lead product teams</li>
              <li>Create product concepts</li>
              <li>Design user interfaces</li>
              <li>Invent better ways to manage design and development</li>
          </ul>
          <p>I believe:</p>
          <ul class="styled-list">
              <li>When content drives product development, brands can create meaningful and memorable user experiences</li>
              <li>Teams that quickly and continuously adapt to change develop successful products</li>
          </ul>
        </div>
      </div>
</template>
