<template name="about">
    <div class="about view animated fadeIn">
      <section class="quote module animated fadeIn">
        {{> quote}}
      </section>
      <section class="intro">
        <h2 class="ui header">About</h2>
        <p>I'm a Software Product Leader based in New York City.</p>
      </section>
        <div class="story module">
          <h3 class="ui header">My Story</h3>
          <p>I'm a Software Product Design Consultant based in New York City.</p>
          <p>Over my six years in Product Design, I've had the privilege of working with companies like Johnson & Johnson, Pfizer, AMC Networks, WWE and more.</p>
          <p>Prior to my consulting work, I managed software teams for Fortune 100 companies and shipped software that's been used by millions of people.</p>
          <p>I enjoy writing about design, psychology, technology and the intersection of the three. You can read some of my essays on <a href="http://blog.husammachlovi.com" title="Husam's Blog">my blog</a>.</p>
          <p>I'm currently writing a book on the Psychology that drives meaningful UX design, <a href="" title="Psychology-driven UX Ebook">"Psychology-driven UX".</a></p>
          <p>Also, I send out a weekly newsletter on product psychology and design. Sign up here:</p>
          {{>MailChimpListSubscribe}}
            <img class="ui centered middle aligned image" src="/images/husammachlovi-photo.jpg" />
        </div>
      </div>
</template>
