@import 'variables';



.headshot img {
  border: 1px solid #000;
}
/*Articles & excerpts*/

.excerpt {
  padding: 5px 0px;
}
.excerpt p {
  padding-top: 10px;
  padding-bottom: 30px;
}

.excerpt a {
  font-size: 1.3rem;
  color: #12b883 !important;
  border-bottom: 1px solid #12b883 !important;
}

.excerpt a:hover {
  color: rgba(18, 184, 131, 0.83) !important;
}

.small img {
  padding-right: 20px;
  width: 139px !important;
}

.styled-list {
  line-height: 1.8rem;
  list-style-type: square;
}

.styled-list li:before {
  color: red;
}

/*Mobile*/
@media (max-width: 480px) {
  .quote {
      padding: 0px 0px 20px 0px;
  }
  .headshot img {
    display: block;
    margin: auto;
  }
  .clients img {
    margin: auto;
    width: 46% !important;
  }

}

/* Mobile (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 767px) {
  .quote {
      padding: 0px 0px 20px 0px;
  }
  .headshot img {
    float: left;
    margin-right: 15px;
  }
  .intro-header {
    margin-bottom: 20px;
  }
  .clients img {
    margin: auto;
    width: 18% !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 539px) and (max-width : 767px) {

}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
  .eleven.wide.column.bio {
    margin-left: 44px;
    padding-left: 24px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .clients img {
    width: 18% !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 1025px) {
  .clients img {
    width: 18% !important;
  }
}
