@import '../variables';

.about {
  .headshot {
    text-align: center;
    img {
        border: $space-mini solid $dark;
    }
  }

}

.small img {
  padding-right: 20px;
  width: 139px !important;
}

.styled-list {
  line-height: 1.8rem;
  list-style-type: square;
}

.styled-list li:before {
  color: red;
}

/*Mobile*/
@media (max-width: 480px) {
  .quote {
      padding: 0px 0px 20px 0px;
  }
  .clients img {
    margin: auto;
    width: 46% !important;
  }

}

/* Mobile (portrait and landscape) ----------- */
@media (min-width : 481px) and (max-width : 767px) {
  .quote {
      padding: 0px 0px 20px 0px;
  }
  .intro-header {
    margin-bottom: 20px;
  }
  .clients img {
    margin: auto;
    width: 18% !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 539px) and (max-width : 767px) {

}


/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {
  .eleven.wide.column.bio {
    margin-left: 44px;
    padding-left: 24px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .eleven.wide.column.h3 {
    padding-left: 44px;
  }
  .clients img {
    width: 18% !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 1025px) {
  .clients img {
    width: 18% !important;
  }
}
