@import '../variables';

.writing {
  .main-content {
    .segment {
      background: none;
      margin: none !important;
      h4 {
        line-height: $space-medium + $space-mini;
        padding-bottom: 0;
      }
      a {
        font-size: $font-size-base + $font-size-mini;
      }
      .excerpt {
        padding-bottom: $space-huge;


      }
    }
  }
}
