@import '../variables';

.writing {
  .main-content {
    .module {
      background: none;
      margin: none !important;
      h4 {
        line-height: $space-medium + $space-mini;
        padding-bottom: 0;
      }

      a {
        font-size: $font-size-medium - $font-size-micro;

        @media (min-width: $tablet-width) {
          font-size: $font-size-medium + $font-size-mini;
        }
      }
      .excerpt {
        padding-bottom: $space-medium + $space-tiny;

        .ui.header a {
          text-align: left;
          font-family: $font-family-serif;
        }

        @media (min-width: $tablet-width) {
          padding-bottom: $space-huge;
        }
      }
    }
  }
}
