@import '../variables';

.writing {
  .main-content {
    .module {
      background: none;
      margin: none !important;
      h4 {
        line-height: $space-medium + $space-mini;
        padding-bottom: 0;
      }

      a {
        font-size: $font-size-medium - $font-size-micro;

        @media (min-width: $tablet-width) {
          font-size: $font-size-medium + $font-size-mini;
        }
      }
      .excerpt {
        padding-bottom: $space-medium + $space-tiny;
        
        .ui.header a {
          text-align: left;
        }

        @media (min-width: $tablet-width) {
          padding-bottom: $space-large;
        }
      }
    }
    .newsletter {

      div#mc_embed_signup {
        font-size: $font-size-medium;
        padding-top: $space-base;
      }
      #mc_embed_signup form {
        padding: 0;
      }
      #mc_embed_signup .mc-field-group {
        width: 100%;
      }
      .mailchimp-email {
        color: $dark;
        width: 100%;
      }
      #mc_embed_signup div.mce_inline_error {
        background: $red;
        color: $light;
      }
      #mce-error-response {
        background: $red;
        color: $light;
      }
      #mc_embed_signup .button {
        font-size: $font-size-medium;
        width: 100%;
      }
    }
  }
}
