
.sixteen.wide.column.subhead {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.subhead h4 {
  padding-bottom: 0px;
}

.sixteen.wide.column.description {
  margin-top: 0px;
}

.method-preface img {
  width: 85%;
  padding-top: 20px;
}

.ui.grid > .row.phase {
  padding-bottom: 40px;
}

.ui.grid > .row.phase hr {
  border-color: rgba(255, 255, 255, 0.35);
}

.icon img {
  padding-top: 24px;
}

/*MOBILE CSS*/

@media (max-width: 480px ) {

}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

}
